.topForgotpassword{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.forgotpassword input{
    font-size: 24px;
    border-radius: 5%;

}
.forgotpassword button{
    font-size: 24px;
    border-radius: 5%;

}
.forgotpassword{
    background-color: black;
    color: white;
    width: 80%;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 30px;
}
.forgotpassword fieldset{
    background-color: aqua;
    color: black;
    width: fit-content;
}